<!DOCTYPE html>
<html>
  <head>
    <title>Gastano</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">

    <!-- NAVBAR -->
    <nav class="bg-white shadow mb-6">
      <div class="container mx-auto px-4 py-3 flex justify-between">
        <div class="text-lg font-semibold text-gray-700">
          <%= link_to "Gastano", dashboard_path, class: "hover:text-gray-900" %>
        </div>

        <div class="space-x-4">
          <%= link_to "Dashboard", dashboard_path, class: "text-gray-600 hover:text-gray-900" %>
          <%= link_to "Receitas", receita_path, class: "text-gray-600 hover:text-gray-900" %>
          <%= link_to "Gastos", gastos_path, class: "text-gray-600 hover:text-gray-900" %>
        </div>
      </div>
    </nav>

    <!-- CONTEÃšDO DA PÃGINA -->
    <main class="container mx-auto px-4">
      <%= yield %>
    </main>

  </body>
</html>
