<div id="<%= dom_id receitum %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Titulo:</strong>
    <%= receitum.titulo %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Valor:</strong>
    <%= receitum.valor %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Data:</strong>
    <%= receitum.data %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Categoria:</strong>
    <%= receitum.categoria %>
  </div>
</div>
